@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.container-envolve {
    color: #1c355e;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 2rem;
    display: grid;
    
    
    
}
.container-icons {
    flex-direction: row;
    display: flex;
    border-radius: 1rem;
    gap: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    
    

}
.container-icons a {
    text-decoration: none;
    color: #001d4c;
    
}

.itens {   
    
    transition: .60s;
    cursor: pointer;
    font-family: Inter;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 700;
    padding: 1rem;
    background: none;
    margin: 0 0rem;
    border-radius: 0px;
    text-align: center;

    
    
}

.itens img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #061f85;
    border-radius: 5rem;
    width: 7rem;
}

.container-icons:hover > :not(:hover){
    opacity: .3;
    transform: scale(0.9);
}

